<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager-Nodejs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="login-container">
        <table>
          <div class= "inputs-login" >
                <tr>

                    <td>Web</td>
                    <td>User Name</td>
                    <td>Email</td>
                    <td>Password</td>


                </tr>
                <% Data.map((info) => { %>
                <tr>
                    <td><%= info.web %></td>
                    <td><%= info.user_name %></td>
                    <td><%= info.email %></td>
                    <td><%= info.password %></td>
                    <td><a class= "btn-register" href="/ModifyPass/<%= info.id %>">Update</a></td>
                    <td><a class= "btn-register" href="/deletePass/<%= info.id %>">Delete</a></td>
                </tr>


                <% }) %>
                <tr>
                    <td><a class= "btn-register" href="/password">Create new Password</a></td>
                </tr>
                <tr>
                    <td><a class= "btn-register" href="/">Log Out</a></td>
                </tr>
          </div> 
        </table>
    </div>
    
</body>
</html>