<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <table>
            <tr>
                <td>Web</td>
                <td>User Name</td>
                <td>Email</td>
                <td>Password</td>


             </tr>
            <% Data.map((info) => { %>
             <tr>
                 <td><%= info.web %></td>
                 <td><%= info.user_name %></td>
                 <td><%= info.email %></td>
                 <td><%= info.password %></td>
                 <td><a class= "btn-update" href="/ModifyPass/<%= info.id %>">Update</a></td>
                 <td><a class= "btn-delete" href="/deletePass/<%= info.id %>">Delete</a></td>
             </tr>


            <% }) %>
            <tr>
                <td><a href="/password">Create new Password</a></td>
            </tr>
        </table>
    </div>
    
</body>
</html>