<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager-Nodejs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="login-container">
        <table>
            <tr>
                <td>Web</td>
                <td>User Name</td>
                <td>Email</td>
                <td>Password</td>


            </tr>
            
                <form action="/deletePass/<%= Data[0]['id'] %>" method="POST">
                    
                    <tr>
                        <td><%= Data[0]['web'] %></td>
                        <td><%= Data[0]['user_name'] %></td>
                        <td><%= Data[0]['email']%></td>
                        <td><%= Data[0]['password'] %></td>
                        <td>The information will be delete .Do you want to continue?</td>
                        <td><input class= "btn-login"type="submit" value="Yes"></td>
                        <td><a class= "btn-register"href="/allpasswords">No</a></td>
                    </tr>
            
            
            
                </form>
            

        </table>
    </div>
    
</body>
</html>