<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager-Nodejs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="login-container">

        <table>
            <tr>

            <td>Web</td>
            <td>User Name</td>
            <td>Email</td>
            <td>Password</td>

            </tr>
            
            <form action="/ModifyPass/<%= Data[0]['id'] %>" method="POST">
                <div class= "inputs-login" >
                        <tr>
                            <td><input type="text" name="web" value="<%= Data[0]['web'] %>"></td>
                            <td><input type="text" name="user_name" value="<%= Data[0]['user_name'] %>"></td>
                            <td><input type="text" name="email" value="<%= Data[0]['email']%>"></td>
                            <td><input type="text" name="password" value="<%= Data[0]['password'] %>"></td>
                            <td><input  class= "btn-login" type="submit" value="Update"></td>
                            <td><a class= "btn-register" href="/allpasswords">Go Back</a></td>
                        </tr>
                </div>
                
                
            </form>
        </table>
    </div>
    
</body>
</html>